<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    \
    <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h1>회원정보</h1>
    <a href="/">홈으로 이동</a>
    <ul>
      <% for(let i = 0; i < lists.length; i++) { %>
      <li>
        <b><%= lists[i].name %></b>
        <a href="/user/<%= lists[i].id %>"> <%= lists[i].gender %> </a>
      </li>
      <% } %>
    </ul>
    <h1>회원정보추가</h1>
    <form name="registerForm">
      <label for="name">이름</label>
      <input type="text" id="name" /><br />
      <label for="gender">성별</label>
      <input type="text" id="gender" /><br />
      <label for="major">전공</label>
      <input type="text" id="major" /><br />
      <button type="button" onclick="register()">등록하기</button>
    </form>
    <div class="result"></div>
    <script>
      const resultBox = document.querySelector(".result");
      async function register() {
        const form = document.forms["registerForm"];
        const data = {
          name: form.name.value,
          gender: form.gender.value,
          major: form.major.value,
        };
        console.log(data);

        const result = await axios({
          method: "POST",
          url: "/axios",
          data,
        });
        if (result) {
          resultBox.textContent = `${result.data.name}, ${result.data.gender}, ${result.data.major}`;
        } else {
          console.log("err");
        }
      }
    </script>
  </body>
</html>
