.css1 {
  width: 300px;
  height: 300px;
  background-color: aliceblue;
  background-image: url("./img/사과.webp");
}
.css2 {
  width: 300px;
  height: 300px;
  background-color: aliceblue;
  background-image: url("./img/바나나.jpeg");
}
.css3 {
  width: 300px;
  height: 300px;
  background-color: aliceblue;
  background-image: url("./img/포도.jpeg");
}
.css4 {
  width: 300px;
  height: 300px;
  background-color: aliceblue;
  background-image: url("./img/복숭아.jpg");
}
