<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../public/view.css" />
    <link rel="stylesheet" type="text/css" href="../public/fruits.css" />
    <title>Document</title>
    <script
      src="https://code.jquery.com/jquery-3.7.0.js"
      integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- <div class="parent">
      <div class="circle circle1"></div>
      <div class="circle circle2"></div>
      <div class="circle circle3"></div>
      <div class="circle circle4"></div>
      <div class="circle circle5"></div>
      <div class="circle6"></div>
      <div class="circle7"></div>
      <img src="../public/img/pngwing.com.png" />
    </div> -->
    <!-- <div></div>
    <button onclick="fruit1()">사과</button>
    <button onclick="fruit2()">바나나</button>
    <button onclick="fruit3()">포도</button>
    <button onclick="fruit4()">복숭아</button>-->
    <h1>{data}</h1>
  </body>
  <script>
    function fruit1() {
      // $().addClass("클래스명")
      $("div").removeClass("css2", "css3", "css4");
      $("div").addClass("css1");
    }
    function fruit2() {
      // $().addClass("클래스명")
      $("div").removeClass("css1", "css3", "css4");
      $("div").addClass("css2");
    }
    function fruit3() {
      // $().addClass("클래스명")
      $("div").removeClass("css2", "css1", "css4");
      $("div").addClass("css3");
    }
    function fruit4() {
      // $().addClass("클래스명")
      $("div").removeClass("css2", "css3", "css1");
      $("div").addClass("css4");
    }
  </script>
</html>
