<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
    <style>
      #space {
        width: 500px;
        background-color: aqua;
      }
    </style>
  </head>
  <body>
    <div id="space"></div>
    <form id="chat">
      <!-- <input type="text" id="id" placeholder="아이디" /> -->
      <input type="text" id="message" placeholder="채팅내용" />
      <button>채팅</button>
    </form>

    <script>
      const chatFrom = document.querySelector("#chat");
      const space = document.querySelector("#space");
      const socket = io();
      const chatroom = prompt("채팅방을 입력하세요");
      const id = prompt("id을 입력하세요");

      socket.emit("join", chatroom);

      socket.on("userjoin", (message) => {
        console.log(message);
      });
      socket.on("chat", (message) => {
        const p = document.createElement("p");
        p.textContent = message;
        space.appendChild(p);
      });

      chatFrom.addEventListener("submit", (e) => {
        e.preventDefault();
        const msg = chatFrom.querySelector("#message");
        // const id = chatFrom.querySelector("#id");
        console.log(id);
        socket.emit("message", msg.value, id);
        msg.value = "";
      });
    </script>
  </body>
</html>
