<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="http://localhost:8080/domain1">domian1</a>
    <a href="http://localhost:8080/domain2">domian2</a>
    <a href="http://localhost:8080/domain3">domian3</a>
  </body>
</html>
