<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <fieldset>
      <legend>로그인</legend>
      <form id="login">
        <input type="text" id="id" placeholder="아이디를 입력하세요" /><br />
        <input type="text" id="pw" placeholder="비밀번호를 입력하세요" /><br />
        <button type="button" onclick="login();">로그인</button><br />
        <a href="/register"><button type="button">회원가입</button></a><br />
      </form>
    </fieldset>
    <div id="userInfoContainer"></div>
    <script>
      const userInfoContainer = document.getElementById("userInfoContainer");

      function login() {
        console.log("로그인버튼클릭");
        const form = document.forms["login"];
        const id = form.id.value;
        const pw = form.pw.value;
        console.log("id :" + id);
        console.log("pw :" + pw);

        axios({
          method: "POST",
          url: "/login/userinfo",
          data: {
            id,
            pw,
          },
        }).then((res) => {
          console.log("res", res);
          console.log("로그인성공");
          console.log(`${id}`);

          const userInfoHtml = `
          <h1>로그인성공<h1>
            <span> 아이디: ${id}</span><br>
            <span> 비밀번호: ${pw}</span><br>
            <button type="button">회원정보수정</button>
          `;

          userInfoContainer.innerHTML = userInfoHtml;
        });
      }
    </script>
  </body>
</html>
