<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <fieldset>
      <legend>회원가입</legend>
      <form id="registerUser">
        <input type="text" id="id" /><br />
        <input type="text" id="pw" /><br />
        <button type="button" onclick="registerUser()">회원가입하기</button>
      </form>
    </fieldset>
    <script>
      function registerUser() {
        const form = document.forms["registerUser"];
        const id = form.id.value;
        const pw = form.pw.value;
        console.log("회원가입 ID :" + id);
        console.log("회원가입 pw :" + pw);
        axios({
          method: "POST",
          url: "/register/register",
          data: {
            id,
            pw,
          },
        }).then((res) => {
          console.log("res", res);
          window.location.href = "/"; // 회원가입 성공 시 로그인 페이지로 이동
        });
      }
    </script>
  </body>
</html>
