/* div {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background-color: aquamarine;
}

전체 선택자
* {
  color: red;
}

태그 선택자
span {
  background-color: red;
}

클래스 선택자
.orange {
  color: orange;
}

아이디 선택자
#orange {
  color: blue;
} */

/* 일치 선택자 */
span.orange {
  color: red;
}

/* 자식 선택자 */
ul > .orange {
  background-color: gray;
}

/* 하위 선택자 */

/* 인접 선택자 */
.orange + li {
  font-size: 30px;
}

.orange ~ li {
  color: green;
}

a:hover {
  color: red;
}
a:active {
  background-color: black;
  color: white;
}

input:focus {
  background-color: lightgray;
}

.fruits span:nth-child(2) {
  color: red;
}
.fruits div:first-child {
  color: blue;
}
.fruits h3:last-child {
  text-decoration: line-through;
}
.fruits p:last-child {
  color: green;
}
.fruits *:not(span) {
  background-color: aqua;
}

.fruits::before {
  content: "과일 목록 시작";
}

.fruits::after {
  content: "과일 목록 끝";
}
input[readonly] {
  background-color: orange;
}
input[type="password"] {
  color: red;
}
